.database_header{
    background:rgb(110,199,194);
    width:100%;
    height:18vw;
    padding-top:1.2vw;
    z-index: 20;
    position: fixed;
    top:0;
    font-size: 5vw;
}
.database_tab{
    margin-top: 19vw;
    /* z-index: 5; */
    position: relative;
}
.database_input_no1{
    background:
    linear-gradient(to left,rgb(110,199,194),rgb(110,199,194)) no-repeat left top,
    linear-gradient(to left,rgb(110,199,194),rgb(110,199,194)) no-repeat right top,
    linear-gradient(to left,rgb(110,199,194),rgb(110,199,194)) no-repeat left bottom,
    linear-gradient(to left,rgb(110,199,194),rgb(110,199,194)) no-repeat right bottom,
    #fff;
    background-size:1vw 1vw;
    /* background-color:#fff; */
    width:75%;
    height:65%;
    padding-top:1.5vw;
}
.database_camera{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    z-index:200;
    width:11vw;
    float: left;
    margin-top: 3vw;
    margin-left: 4vw;
}
.database_camera:active{
    box-shadow: none;
    z-index:200;
    width:11vw;
    float: left;
    margin-top: 3.5vw;
    margin-left: 4vw;
}
.database_sousou{
    z-index:200;
    width:8vw;
    float: left;
    margin-left: 3vw;
    margin-top: 1vw;
}
.database_input_no1{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    margin-top: 2vw;
    margin-left: 20vw;
}
.database_input_no2{
    margin-left: 2vw;
    height:80%;
    border:#fff;
    width: 50%;
}
.database_search{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    background:
    linear-gradient(to left,#fff,#fff) no-repeat left top,
    linear-gradient(to left,#fff,#fff) no-repeat right top,
    linear-gradient(to left,#fff,#fff) no-repeat left bottom,
    linear-gradient(to left,#fff,#fff) no-repeat right bottom,
    rgb(236, 234, 234);
    background-size:1vw 1vw;
    line-height: 8vw;
    text-align: center;
    width: 19.5vw;
    height: 9.5vw;
    /* border: #FF7414 solid 1px; */
    font-family: "YouYuan";
    float:right;
    color:black;
    margin-top:0vw;
    margin-right:2vw;
    font-size:6vw;
    border-top:0;
    border-left: 0;
    /* border-right: 0; */
}
.database_search:active{
    box-shadow:none;
    background:
    linear-gradient(to left,#fff,#fff) no-repeat left top,
    linear-gradient(to left,#fff,#fff) no-repeat right top,
    linear-gradient(to left,#fff,#fff) no-repeat left bottom,
    linear-gradient(to left,#fff,#fff) no-repeat right bottom,
    rgb(236, 234, 234);
    background-size:1vw 1vw;
    line-height: 9vw;
    text-align: center;
    width: 19.5vw;
    height: 9.5vw;
    /* border: #FF7414 solid 1px; */
    font-family: "YouYuan";
    float:right;
    color:black;
    margin-top:0vw;
    margin-right:2vw;
    font-size:6vw;
    border-top:0;
    border-left: 0;
}
.database_navbar{
    color:#FF7414;
}
.database_hight{
    height: 10vw;
}
.database_font{
    float:left;
    width:100%;
    height:1vw;
    background-color: rgb(245,245,249);
    z-index: 20;
    position: fixed;
}
.am-tabs-default-bar-content{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    height: 11vw;
    position: fixed;
    background-color: #fff;
}
.am-tabs-default-bar-tab-active {
    color: #FF7414;
}
.am-tabs-default-bar-tab{
    font-family: "YouYuan"; 
    font-size: 5vw;
    height: 11vw;
}
.am-tabs-default-bar-underline{
    border-color: #FF7414;
}
.icon-shoucang1{
    /* z-index: -10; */
    font-size: 5vw;
}
*:after {
    color: #FF7414;
}
.databaseBuju_root{
    width:100%;
}
.databaseBuju_root_no2{
    margin-top: 8vw;
    padding:2.5vw;
}
.databaseBuju_views{
    box-shadow: 0px 3vw 3vw -3vw #5E5E5E;
    margin-top: 4vw;
    position: relative;
    height:55vw;
    /* background-color:#fff; */
    background:
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat left top,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat right top,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat left bottom,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat right bottom,
    #fff;
    background-size:2vw 2vw;
    padding-bottom:8vw;
    /* border-Radius:2vw; */
    padding-top:2vw;
}
.none{
    float: left;
    width: 100%;
    height: 10vw;
    /* background-color: black; */
}
.databaseBuju_views_canvas{
    /* background-color: black; */
    width:100%;
    height:90%;
}
.databaseBuju_views_bottom{
    position: absolute;
    left: 3vw;
    /* top: 50vw; */
    color:#000 ;
}
.databaseBuju_views_bottom img{
    margin-left: 1vw;
    margin-top: 2vw;
    width:7vw;
    height:7vw;
    border-Radius:50% ;
}
.databaseBuju_name{
    font-family: "YouYuan"; 
    position: absolute;
    left: 13vw;
    color:#000; 
    height:5vw;
    font-size:5vw;
    margin-top: 3vw;
}
.databaseBuju_views{
    width:47%;
    float:left;
    margin-left:2vw;
}
.databaseBuju_views i{
    z-index: 10;
    position: absolute;
    left: 35vw;
    top: 45vw;
    font-size: 7vw;
    /* color:#FF7414;  */
    height:5vw;
    width:5vw;
}
.xiangqing_header{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    font-family: "YouYuan"; 
    font-weight: 600; 
    top:0px ;
    background-color:rgb(110,199,194);
    color:#fff;
    position: fixed;
    z-index: 10;
    width: 100%;
    height:13vw;
    line-height: 13vw;
    float: left;
    text-align: center;
}
.xiangqing_header_i{
    color:#fff;
    font-size:5vw;
    float:left;
    margin-left: 2vw;
}
.xiangqing_header_i_no2{
    margin-right:8vw;
    color:yellow;
    float: right;
}
.xiangqing_zhong{
    margin-top: 15vw;
    padding:2.5vw;
    padding-top:5vw;
}
.xiangqing_touxiang{
    float:left;
}
.xiangqing_touxiang img{
    width:15vw;
    height:15vw;
    border-Radius:50% ;
    margin-left: 5vw;
}
.xiangqing_name{
    font-family: "YouYuan"; 
    font-weight: 600;
    margin-top:7vw;
    margin-left:4vw;
    float:left;
    font-size: 5vw;
}
.xiangqing_zuoping{
    padding:2.5vw;
    margin-top:19vw;
    width:90%;
    height:80vw;
}
.xiangqing_zuoping_canvas{
    width:100%; 
    height:100%; 
}