.database_header{
    background:#FF7414;
    width:100%;
    height:9vw;
    padding-top:1.2vw;
    padding-left:10vw;
    z-index: 20;
    position: fixed;
    top:0;
}
.database_tab{
    margin-top: 11vw;
    /* z-index: 5; */
    position: relative;
}
.database_input_no1{
    background-color:#fff;
    width:80%;
    height:70%;
    padding-top:1.5vw;
}
.database_input_no1 i{
    margin-left:3vw;
}
.database_input_no2{
    height:80%;
    border:#fff;
}
.icon-sousuo{
   font-size: 4vw;
}
.database_search{
    font-family: "YouYuan";
    float:right;
    color:#FF7414;
    margin-top:0.5vw;
    margin-right:3vw;
    font-size:3vw;
}
.database_navbar{
    color:#FF7414;
}
.database_hight{
    height: 10vw;
}
.am-tabs-default-bar-tab-active {
    color: #FF7414;
}
.am-tabs-default-bar-tab{
    font-family: "YouYuan"; 
    font-size: 4vw;
    height: 8vw;
}
.am-tabs-default-bar-underline{
    border-color: #FF7414;
}
.icon-shoucang1{
    font-size: 5vw;
}
*:after {
    color: #FF7414;
}
.databaseBuju_root{
    width:100%;
}
.databaseBuju_root_no2{
    padding:2.5vw;
}
.databaseBuju_views{
    margin-top: 2vw;
    position: relative;
    height:50vw;
    background-color:#fff;
    padding-bottom:8vw;
    border-Radius:2vw;
    padding-top:2vw;
}
.databaseBuju_views_canvas{
    /* background-color: black; */
    width:100%;
    height:95%;
}
.databaseBuju_views_bottom{
    position: absolute;
    left: 3vw;
    /* top: 50vw; */
    color:#000 ;
}
.databaseBuju_views_bottom img{
    margin-top: 1vw;
    width:6vw;
    height:6vw;
    border-Radius:50% ;
}
.databaseBuju_name{
    font-family: "YouYuan"; 
    position: absolute;
    left: 10vw;
    color:#000; 
    height:5vw;
    font-size:4vw;
    margin-top: 2vw;
}
.databaseBuju_views i{
    z-index: 10;
    position: absolute;
    left: 39vw;
    top: 42vw;
    color:#FF7414; 
    height:5vw;
    width:5vw;
}
.xiangqing_header{
    /* width:100%; */
    height:6vw;
    background:#FF7414;
    padding:2vw;
    z-index: 20;
    width: 100%;
    position: fixed;
    top:0;
}
.xiangqing_header_i{
    color:#fff;
    font-size:4vw;
    float:left;
    margin-left: 2vw;
    margin-top: -1vw;
}
.xiangqing_header_i_no2{
    margin-right:8vw;
    color:yellow;
    float: right;
}
.xiangqing_header_i_no2 i{
    font-size:5vw;
}
.xiangqing_header_done{
    background-color:rgb(28, 199, 28);
    color:#fff;
    padding:1.5vw;
    border:0;
    font-size: 2.5vw;
    border-radius: 1vw;
    font-family: "YouYuan"; 
    font-weight: 600;
    float: right;
    margin-right: 2vw;
}
.xiangqing_zhong{
    margin-top: 10vw;
    padding:2.5vw;
    padding-top:5vw;
}
.xiangqing_touxiang{
    float:left;
}
.xiangqing_touxiang img{
    width:10vw;
    height:10vw;
    border-Radius:50% ;
}
.xiangqing_name{
    font-family: "YouYuan"; 
    font-weight: 600;
    margin-top:2vw;
    margin-left:2vw;
    float:left;
    font-size: 4vw;
}
.xiangqing_zuoping{
    padding:2.5vw;
    margin-top:15vw;
    width:90%;
    height:80vw;
    /* overflow: hidden; */
    /* scroll-margin: auto; */
    /* overflow-y: scroll;
    overflow-x: visible; */

}
.xiangqing_zuoping_canvas{
    /* background: black; */
    width:100%; 
    height:100%; 
    
}
.xiangqingt_bottom{
    width:100%;
    padding:2vw;
    background-color:#fff;
}
.xiangqing_bottom_1{   
    background-color: gray;
    color:#fff;
    padding:4vw;
    float:left;
    margin-left:6vw;
    font-size:2vw;
     
}