.register_navbar_link{
    margin-left:5vw;
}
.icon-fanhui{
    float: left;
    margin-top: 0vw;
    margin-left: 4vw;
    font-size: 4vw;
    color: #fff;
}
.register_content_div{
    margin-top: 15vw;
}
.register_content_name{
    border-radius: 2vw;
    font-size: 4vw;
    width: 90vw;
    height: 14vw;
    margin-bottom:2vw;
    border:none;
}
.register_content_code{
    border-radius: 2vw;
    font-family: "YouYuan";
    font-size: 4vw;
    float: left;
    width: 55vw;
    height: 14vw;
    border:none;
}
.register_content_getcode{
    text-align: center;
    border-radius: 2vw;
    font-size: 4vw;
    float: left;
    margin-left: 3vw;
    height: 11vw;
    width: 30vw;
    padding-top:3vw;
    background:
    linear-gradient(to left,rgb(145, 210, 248),rgb(65, 156, 235));
    color:#fff;
    font-size: 4vw;
}
.mine_clearfloat{
    clear:both;
    height:1vw;
    width:100%; 
    overflow:hidden; 
    margin-top:-1vw;
}
.register_content_finish{
    border-radius: 2vw;
    font-size: 5vw;
    height: 12vw;
    width: 100%;
    background:
    linear-gradient(to left,rgb(145, 210, 248),rgb(65, 156, 235));
    color:#fff;
    border: 0px;
}
.register_user{
    font-size:3vw;
    color:red;
}

/* 获取验证码 */
.asdasd{
    float: left;
    margin-top: 2vw;
    color: red;
}
.asdasdd{
    float: left;
    color: red;
    margin-top: 2vw;
}