/* community css */
.community_navbar{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    font-family: "YouYuan"; 
    font-weight: 500; 
    top:0px ;
    background-color:rgb(110,199,194);
    color:#fff;
    position: fixed;
    z-index: 10;
    width: 100%;
    height:13vw;
    font-size: 5vw;
    line-height: 13vw;
    float: left;
    text-align: center;
}
.community_img_add{
    color:#fff;
    float: right;
    height:6vw;
    margin-top: -9.5vw;
    margin-right: 5vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
}
.community_img_add:active{
    box-shadow: none;
    margin-top: -8.5vw;
}
.community_wingblank{
    height: auto;
}
.community_div_no2{
    position: relative;
    margin-top:2vw;
    width: 100%;
    background-color: black;
    height: auto;
}

/* 他人发布 */
.community_chat_another{
    float: left;
    width: 100%;
    background-color: #fff;
}
.community_chat_another_headpic_box{
    float: left;
    margin-top: 5vw;
    margin-left: 1.5vw;
    width: 19vw;
    height: 19vw;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
}
.community_chat_another_headpic{
    width: 100%;
    height: 100%;
}
.community_chat_another_id{
    float: left;
    margin-left: -18vw;
    margin-top: 26vw;
    font-size: 5vw;
    font-family: "YouYuan";
}
.community_chat_talk{
    float: left;
    width: 59vw;
    height: 25vw;
    margin-left: 5vw;
    margin-top: 5vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    background:rgb(234,234,234);
    /* background-size:2vw 2vw; */
    border-bottom-color:rgb(234,234,234);
    color: black;
    font-size: 4vw;
    padding: 2vw 2vw 1vw 2vw;
    border-radius: 2vw;
    position: relative;
    word-break: break-all;
    border:0px solid coral;
}
.community_chat_talk:before{
    border:0px solid coral;
    content:'';
    position:absolute;
    right:100%;
    bottom:2vw;
    border-width:3vw;
    border-style:solid;
    border-color:transparent;
    border-right-width:7vw;
    border-right-color:currentColor;
    color:rgb(234,234,234);
}
.community_chat_another_word{
    font-family: "YouYuan";
    float: left;
    width: 35vw;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 5vw;
}
.community_chat_talk_pic_box{
    float: right;
    width: 21vw;
    height: 20vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2vw;
}
.community_chat_talk_canvas{
    width: 100%;
    height: 100%;
}
.community_chat_another_time{
    color:coral;
    font-family: "YouYuan";
    font-size: 3vw;
    float: right;
    margin-top: 8vw;
    margin-right: 2vw;
}

/* 我的发布 */
.community_chat_mine{
    float: right;
    width: 100%;
    background-color: #fff;
}
.community_chat_mine_headpic_box{
    float: right;
    margin-top: 5vw;
    margin-right: 1.5vw;
    width: 19vw;
    height: 19vw;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
}
.community_chat_mine_headpic{
    width: 100%;
    height: 100%;
}
.community_chat_mine_id{
    float: right;
    margin-right: -16vw;
    margin-top: 26vw;
    font-size: 5vw;
    font-family: "YouYuan";
}
.community_chat_mine_talk{
    float: right;
    width: 60vw;
    height: 25vw;
    margin-right: 5vw;
    margin-top: 5vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    background:rgb(234,234,234);
    /* background-size:2vw 2vw; */
    border-bottom-color:rgb(234,234,234);
    color: black;
    font-size: 4vw;
    padding: 2vw 2vw 1vw 2vw;
    border-radius: 2vw;
    position: relative;
    word-break: break-all;
    border:0px solid coral;
}
.community_chat_mine_talk:before{
    border:0px solid coral;
    content:'';
    position:absolute;
    left:100%;
    bottom:2vw;
    border-width:3vw;
    border-style:solid;
    border-color:transparent;
    border-left-width:7vw;
    border-left-color:currentColor;
    color:rgb(234,234,234);
}
.community_chat_mine_word{
    font-family: "YouYuan";
    float: right;
    width: 35vw;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 5vw;
}
.community_chat_mine_talk_pic_box{
    float: left;
    width: 21vw;
    height: 20vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2vw;
}
.community_chat_talk_canvas{
    width: 100%;
    height: 100%;
}
.community_chat_mine_time{
    color:coral;
    font-family: "YouYuan";
    font-size: 3vw;
    float: left;
    margin-top: 8vw;
    margin-left: 2vw;
}

.community_hight{
    float: left;
    width: 100%;
    height: 20vw;
}