#npcsay_root{
    font-size: 12px;
    width: 65%;
    height: 155px;
    position: fixed;
    bottom: 10vw;
    left: 20vw;
}
#npcsay_root button{
    width: 30px;
    height: 30px;
    font-size: 32px;
    border: none;
    background: none;
}
#npcsay_div1{
    width: 85%;
    height: 80px;
    position: absolute;
    top:10px;
    left:50px;
}
#npcsay_div1 p{
    width: 70%;
    position: absolute;
    top: 18px;
    left: 30px;
}
#npcsay_div2{
    width: 10%;
    height: 25px;
    position: absolute;
    top:85px;
    left:40px;
}
#npcsay_div3{
    width: 5%;
    height: 10px;
    position: absolute;
    top:110px;
    left:25px;
}
.npcsay_close{
    z-index: 3;
    position: absolute;
    top:-5px;
    left:250px;
}