.denglu_header{
    font-weight: 500;
    text-align: center;
    line-height: 13vw;
    font-size: 5vw;
    color:#fff;
}
.denglu_name{
    margin-top: 20vw;
    padding-left:2vw;
    font-size: 4vw;
    width: 97%;
    height: 13vw;
    /* border: 1px solid rgb(65, 156, 235); */
    border: none;
    border-radius: 3vw;
}
.denglu_psw{
    padding-left:2vw;
    font-size: 4vw;
    width: 97%;
    height: 13vw;
    /* border: 1px solid rgb(65, 156, 235); */
    border: none;
    border-radius: 3vw;
}
.denglu_login{
    border-radius: 2vw;
    width:100%;
    font-size:5vw;
    background:
    linear-gradient(to left,rgb(145, 210, 248),rgb(65, 156, 235));
    height:11vw;
    margin-top:4vw;
    border:0;
    color:#fff;
}
.denglu_zhuce{
    font-size:4vw;
    margin-top:5vw;
    float: right;
    margin-right: 1vw;
}
.denglu_zhuce_no2{
    color:black;
    float:left;
}
.denglu_zhuce_no3{
    color:black;
    margin-left:5vw;
    float:left;
}
.denglu_shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    background-color:#000;
    opacity:0.6;
    display:block;
}
.denglu_false{
    z-index:999;
    position: absolute;
    background-color:#fff;
    width: 70vw;
    height: 50vw;
    top: 40vw;
    left: 15vw;
}
.denglu_false p{
    font-size: 4vw;
    margin-top: 15vw;
    text-align: center;
}
.denglu_clearfloat{
    clear:both;
    height:4vw;
    width:100%; 
    overflow:hidden; 
    margin-top:-1vw;
}
.denglu_false_but{
    margin-top: 15vw;
}
.denglu_false_but_no1{
    margin-left: 8vw;
    margin-right: 5vw;
    font-size: 3vw;
    width: 17vw;
    height: 7vw;
    background:linear-gradient(to left,rgb(238, 216, 146),rgb(235, 191, 48));
    float: left;
    border: 0px;
    color: rgb(255, 255, 255);
    border-radius: 2vw;
}
.denglu_false_but_no2{
    margin-left: 9vw;
    margin-right: 4vw;
    font-size: 3vw;
    width: 16vw;
    height: 6vw;
    background-color: rgb(182, 182, 182); 
    float: left;
    border: 0px;
    color: #fff;
    border-radius: 4vw;
}