.denglu_header{
    font-weight: 500;
    text-align: center;
    line-height: 13vw;
    font-size: 5vw;
    color:#fff;
    font-family: "YouYuan"; 
}
.denglu_name{
    margin-top: 20vw;
    font-family: "YouYuan";
    padding-left:2vw;
    font-size: 4vw;
    width: 97%;
    height: 13vw;
    border: 1px solid rgb(110,199,194);
    border-radius: 2vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
}
.denglu_psw{
    font-family: "YouYuan";
    padding-left:2vw;
    font-size: 4vw;
    width: 97%;
    height: 13vw;
    border: 1px solid rgb(110,199,194);
    border-radius: 2vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
}
.denglu_login{
    border-radius: 2vw;
    width:100%;
    font-size:5vw;
    background-color: rgb(110,199,194);
    height:11vw;
    margin-top:4vw;
    border:0;
    color:#fff;
    font-family: "YouYuan"; 
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
}
.denglu_zhuce{
    font-size:4vw;
    margin-top:5vw;
    float: right;
    margin-right: 1vw;
    font-family: "YouYuan"; 
}
.denglu_zhuce_no2{
    color:black;
    float:left;
}
.denglu_zhuce_no3{
    color:black;
    margin-left:5vw;
    float:left;
}
.denglu_shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    background-color:#000;
    opacity:0.6;
    display:block;
}
.denglu_false{
    z-index:999;
    position: absolute;
    background-color:#fff;
    width: 70vw;
    height: 50vw;
    top: 40vw;
    left: 15vw;
}
.denglu_false p{
    font-size: 4vw;
    font-family: "YouYuan"; 
    margin-top: 15vw;
    text-align: center;
}
.denglu_clearfloat{
    clear:both;
    height:4vw;
    width:100%; 
    overflow:hidden; 
    margin-top:-1vw;
}
.denglu_false_but{
    margin-top: 15vw;
}
.denglu_false_but_no1{
    margin-left: 9vw;
    margin-right: 9vw;
    font-size: 3vw;
    width: 16vw;
    height: 6vw;
    background-color: rgb(110,199,194);
    font-family: "YouYuan"; 
    float: left;
    border: 0px;
    color: #fff;
    border-radius: 4vw;
}