.btn {
    display: inline-block;
    width: 33vw;
    height: 14vw;
    background:
    linear-gradient(to left,rgb(145, 210, 248),rgb(65, 156, 235));
    color: #fff;
    margin-left: 2vw;
    font-size: 4vw;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;

    border: 1px solid transparent;
    border-radius: 2vw;
}
.btn_false{
    display: inline-block;
    width: 33vw;
    height: 14vw;
    background-color: rgb(177, 177, 177);
    color: #fff;
    margin-left: 2vw;
    font-size: 4vw;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2vw;
}