.userMain{
    width: 85%;
    height: 100%;
    float: right;
}
.userImg{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    /* background-image: url('https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3632693432,2423789614&fm=26&gp=0.jpg');
    background-size:100% 100%; */
    background-color: rgb(77, 73, 73);
}
.user_root{
    width: 80%;
    padding: 50px 0 ;
    margin:0 auto;
}
.user_button{
    margin-bottom: 20px;
}
.user_button button{
    background: #33bdef;
    background-image: -webkit-linear-gradient(top, #33bdef, #019ad2);
    background-image: -moz-linear-gradient(top, #33bdef, #019ad2);
    background-image: -ms-linear-gradient(top, #33bdef, #019ad2);
    background-image: -o-linear-gradient(top, #33bdef, #019ad2);
    background-image: linear-gradient(to bottom, #33bdef, #019ad2);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px -1px 0px #5b6178;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 30px 12px 30px;
    border: solid #057fd0 1px;
    text-decoration: none;
}
.user_button button:hover{
    color: #ffffff;
    background: #019ad2;
    text-decoration: none;

}

.user_table{
    display: block;
    background-color:#fff;
    border: 1px solid red;
}
.user_div{
    float: left;
    background-color:#fff;
}
.user_div p{
    float: left;
    width: 150px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    border:1px solid #000;
    text-align: center;
}
.user_div input{
    border: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
.user_div input:focus {
    outline: none;
    /* 去除input框聚焦时样式 */
}
.user_div input:disabled {
    color:#000;
    cursor: default;
    background-color: #fff;
    /* 去除input框disabled样式 */
}
.user_hover{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    position: absolute;
    top:0;
    background-color: rgba(95, 89, 89, 0.4);
}
.user_hover div{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: relative;
    top:100px;
    left: 35%;
}
.user_hover table{
    padding: 20px 0 0 25px;
}
.user_hover th{
    font-weight: normal;
    font-size: 14px;
}
.user_hover button{
    background-color: salmon;
    border:none;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-weight: bolder;
}
.user_addhover{
    display: none;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.user_addhover div{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: relative;
    top:100px;
    left: 35%;
}
.user_updatehover{
    display: none;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.user_updatehover div{
    width: 300px;
    height: 200px;
    background-color: #fff;
    position: relative;
    top:100px;
    left: 35%;
}