.Change_bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0;
    height: 10vw;
    border: 1px solid black;
    z-index: 9999;
    background-color:#fff;
}
.Change_title{
    margin-left:37vw;
    margin-top:4vw;
}
.Change_f{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#000;
    opacity:0.1;
    z-index: 1
}