.collection_navbar{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    font-family: "YouYuan";
    position: fixed;
    font-weight: 500;
    top:0px ;
    background-color:rgb(110,199,194);
    height:13vw;
    color:#fff;
    width: 100%;
    line-height: 13vw;
    float: left;
    z-index: 100;
}
.collection_navbar_no1 p{
    font-size: 5vw;
}
.iconfont::before{
    font-size: 5vw;
}
.icon-fanhui{
    color: #fff;
    margin-right: 2vw;
}
.collection_navbar_link{
    float: left;
    margin-top:0.5vw;
    margin-left:3vw;
}
.collection_content_canvas{
    background:
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat left top,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat right top,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat left bottom,
    linear-gradient(to left,#F5F5F9,#F5F5F9) no-repeat right bottom,
    #fff;
    background-size:2vw 2vw;
    box-shadow: 0px 3vw 3vw -3vw #5E5E5E;
    width: 43vw;
    height: 43vw;
    margin-left: 2.5vw;
    margin-top: 4vw;
    float: left;
}
.collection_content_div{
    margin-top: 17vw;
}
.none_div{
    float: left;
    width: 100%;
    height: 2vw;
    margin-top: 10vw;
}
/* edit */
.edit_middle{
    margin-top: 17vw;
}
.edit_middle_img{
    width: 30vw;
    border-radius: 30vw;
    margin-left: 34vw;
}
.edit_middle_content{
    background-color: #fff;
    width: 100%;
    height: 10vw;
}
.edit_middle_content p{
    margin-left: 10vw;
    line-height: 10vw;
    font-size: 4vw;
    float: left;
}
.edit_middle_content input{
    border: 0vw;
    margin-top: 2vw;
    line-height: 6vw;
    font-size: 4vw;
    float: left;
}
.edit_button_save{
    margin-left: 8vw;
    border: 0vw;
    width: 40vw;
    height: 10vw;
    float: left;
    color: #fff;
    border-radius: 5vw;
    background-color: rgb(110,199,194);
}
.edit_button_return{
    color: #fff;
    margin-left: 5vw;
    border: 0vw;
    width: 40vw;
    height: 10vw;
    border-radius: 5vw;
    float: left;
    background-color: rgb(211, 211, 211);
}