/* mine的样式 */
.mine_navbar{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    font-family: "YouYuan";
    font-weight: 600;
    top:0px ;
    background-color:rgb(110,199,194);
    height:18vw;
    color:#fff;
    width: 100%;
    font-size: 8vw;
    line-height: 18vw;
    text-align: center;
    float: left;
}
.mine_navbar_div i{
    font-size: 9vw;
    color:#fff;
    float: right;
    margin-top: -14vw;
    margin-right: 5vw;
}
.mine_message{
    background:
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left bottom,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right bottom,
    #fff;
    background-size:2vw 2vw;
    /* background-color: #fff; */
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    /* border-radius:0vw 0vw 5vw 5vw; */
}
.mine_message_left{
    float: left;
    width: 30vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
    border-radius: 100%;
}
.mine_message_right{
    float: left;
    width: 40vw;
    margin-top: 12vw;
    margin-left: 10vw;
}
.mine_clearfloat{
    clear:both;
    height:4vw;
    width:100%; 
    overflow:hidden; 
    margin-top:-1vw;
}
.mine_message_name{
    color: black;
    font-family: "YouYuan";
    font-size:7vw; 
    font-weight: 600;
}
.mine_message_sign{
    font-family: "YouYuan";
    color: black;
    margin-top: 5vw;
    max-width: 100%;
    font-size:5vw; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.mine_message_sign a{
    color: black;
}
.mine_three{
    background:
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left bottom,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right bottom,
    #fff;
    background-size:2vw 2vw;
    padding-bottom:3vw;
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    /* border-radius:5vw; */
}
/* 图标 */
.iconfont{
    font-size: large;
}
.icon-zuopin{
    margin: 12vw;
    color: #FF7414;
}
.icon-shoucang{
    margin: 12vw;
    color: #FF7414;
}
.icon-fabu{
    margin: 12vw;
    color: #FF7414;
}
.mine_works{
    font-size: 4vw;
}
.mine_works i{
    font-size: 11vw;
}
.mine_works p{
    font-weight: 600;
    color: black;
    font-family: "YouYuan";
    margin-top: 2vw;
    margin-left: 7vw;
}
.mine_show_no1{
    line-height: 8vw;
    color: #000;
}
.mine_show_word_no1{
    font-size: 5vw;
    margin-left: 4vw;
    float: left;
    margin-top: 1vw;
}
.mine_show_word_no2{
    font-size: 5vw;
    margin-right: 4vw;
    float: right;
    color: #000;
    margin-top: 1vw;
}
.mine_content_canvas{
    box-shadow: 0px 3vw 3vw -3vw #5E5E5E;
    /* border-radius: 5vw; */
    background:
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right top,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left bottom,
    linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right bottom,
    #fff;
    background-size:2vw 2vw;
    width: 43vw;
    height: 43vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
    float: left;
}
.mine_hight{
    float: left;
    width: 100%;
    height: 17vw;
}