/*drawing.js样式*/
@media only screen and (min-width: 1000px) {
    .drawing_canvas_div{
        width: 700px;
        height: 700px;
        margin-left:100px;
        background-color: white;
        /* overflow: hidden; */
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        margin-left: 1vw;
        width: 900px;
        height: 90px;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 2000px;
    }
    .drawing_color_div{
        line-height: 70px;
        cursor: pointer;
        width: 70px;
        height: 70px;
        text-align: center;
        color: grey;
        font-size:4vw;
    }
    .drawing_color{
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 15px;
        width: 70px;
        height: 70px;
        display: inline-block;
        float: left;
        margin-top:15px;
        margin-left: 5vw;
    }
    .drawing_palette{
        background-color:#ffffff;
        margin-left: 15px;
        border: 0;
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
    ::-webkit-color-swatch-wrapper{
        background-color:#ffffff;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
    ::-webkit-color-swatch{
        background-color:#ffffff;
        position: relative;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 15px;
        height: 100px;
        width: 100px;
    }
    .drawing_shezhi{
        position:fixed;
        height:80px;
        left:0;
        bottom:140px;
        width:800px;
        overflow-x: auto;
    }
    .drawing_shezhi_no1{
        position:fixed;
        height:40px;
        left:80vw;
        bottom:180px;
    }
    .drawing_shezhi_no2{
        width:2000px;
    }
    .drawing_btn{
        width:16vw;
        height: 6vw;
        display: inline-block;
        float: left;
        margin-left: 15px;
        font-size:3vw;
    }
    .drawing_btn button{
        box-shadow: 2px 2px 2px 2px grey;
        text-align: center;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: 0;
        background-color: rgb(197, 195, 194);
    }  
    .palette_btn{
        box-shadow: 2px 2px 2px 2px grey;
        /* border:none; */
        line-height:70px;
        height: 70px;
        width: 70px;
        border-radius: 15px;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-350px;
    }
    .drawing_show{
        float: left;
    }
    .drawing_bottom{
        position:fixed;
        background-color:#fff;
        height:90px;
        width:100%;
        left:0;
        bottom:0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        font-size:2vw;
        margin-top:15px;
    }
    .drawing_tuijian:hover{
        font-size:2vw;
        margin-top:15px;
        color:rgb(110,199,194);
    }
    .drawing_free{
        font-size:2vw;
        margin-top:15px;
    }
    .drawing_free:hover{
        font-size:2vw;
        margin-top:15px;
        color:rgb(110,199,194);
    }
}
@media (max-width: 1000px) and (min-width: 600px) {
    .drawing_canvas_div{
        width: 500px;
        height: 500px;
        margin-left:100px;
        background-color: white;
        /* overflow: hidden; */
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        margin-left: 1vw;
        width: 650px;
        height: 60px;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 2000px;
    }
    .drawing_color_div{
        line-height: 50px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        color: grey;
        font-size:4vw;
    }
    .drawing_color{
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        margin-top:10px;
        margin-left: 5vw;
    }
    .drawing_palette{
        background-color:#ffffff;
        margin-left: 15px;
        border: 0;
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
    ::-webkit-color-swatch-wrapper{
        background-color:#ffffff;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
    ::-webkit-color-swatch{
        background-color:#ffffff;
        position: relative;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 15px;
        height: 100px;
        width: 100px;
    }
    .drawing_shezhi{
        position:fixed;
        height:80px;
        left:0;
        bottom:100px;
        width:600px;
        overflow-x: auto;
    }
    .drawing_shezhi_no1{
        position:fixed;
        height:40px;
        left:80vw;
        bottom:140px;
    }
    .drawing_shezhi_no2{
        width:1200px;
    }
    .drawing_btn{
        width:16vw;
        height: 8vw;
        display: inline-block;
        float: left;
        margin-left: 15px;
        font-size:3vw;
    }
    .drawing_btn button{
        box-shadow: 2px 2px 2px 2px grey;
        text-align: center;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: 0;
        background-color: rgb(197, 195, 194);
    }  
    .palette_btn{
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 10px;
        line-height:50px;
        height: 50px;
        width: 50px;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-350px;
    }
    .drawing_show{
        float: left;
    }
    .drawing_bottom{
        position:fixed;
        background-color:#fff;
        height:70px;
        width:100%;
        left:0;
        bottom:0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        font-size:3vw;
        margin-top:1vw;
    }
    .drawing_free{
        font-size:3vw;
        margin-top:1vw;
    }
    .drawing_tuijian:hover{
        font-size:3vw;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
    .drawing_free:hover{
        font-size:3vw;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
}
@media only screen and (max-width: 600px) {
    .drawing_canvas_div{
        width: 300px;
        height: 300px;
        margin: auto;
        background-color: white;
        /* overflow: hidden; */
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        margin-left: 1vw;
        width: 300px;
        height: 50px;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 1000px;
    }
    .drawing_color_div{
        line-height: 30px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        color: grey;
    }
    .drawing_color{
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        display: inline-block;
        float: left;
        margin-top:10px;
        margin-left: 5vw;
    }
    .drawing_palette{
        background-color:#ffffff;
        margin-left: 15px;
        border: 0;
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
    ::-webkit-color-swatch-wrapper{
        background-color:#ffffff;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
    ::-webkit-color-swatch{
        background-color:#ffffff;
        position: relative;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 15px;
        height: 100px;
        width: 100px;
    }
    .drawing_shezhi{
        position:fixed;
        height:50px;
        left:0;
        bottom:50px;
        width:300px;
        overflow-x: auto;
    }
    .drawing_shezhi_no1{
        position:fixed;
        height:50px;
        left:80vw;
        bottom:50px;
    }
    .drawing_shezhi_no2{
        width:500px;
    }
    .drawing_btn{
        width:16vw;
        height: 8vw;
        display: inline-block;
        float: left;
        margin-left: 15px;
    }
    .drawing_btn button{
        box-shadow: 2px 2px 2px 2px grey;
        text-align: center;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: 0;
        background-color: rgb(197, 195, 194);
    }  
    .palette_btn{
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 4px;
        line-height:31px;
        height: 30px;
        width: 30px;
        border-radius: 8px;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-300px;
    }
    .drawing_show{
        float: left;
    }
    .drawing_bottom{
        position:fixed;
        background-color:#fff;
        height:50px;
        width:100%;
        left:0;
        bottom:0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        font-size:3vw;
        margin-top:7px;
    }
    .drawing_free{
        font-size:3vw;
        margin-top:7px;
    }
    .drawing_tuijian:hover{
        font-size:3vw;
        margin-top:7px;
        color:rgb(110,199,194);
    }
    .drawing_free:hover{
        font-size:3vw;
        margin-top:7px;
        color:rgb(110,199,194);
    }
}