/*drawing.js样式*/
@media only screen and (min-width: 1000px) {
    .drawing_canvas_div{
        width: 700px;
        height: 700px;
        margin-left:100px;
        background-color: white;
        /* overflow: hidden; */
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        width: 80%;
        height: 100%;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 2000px;
    }
    .drawing_color_div{
        border-radius: 1vw;
        font-size:4vw;
        line-height: 9vw;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #FF7414;
    }
    .drawing_color{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        width: 9vw;
        height: 9vw;
        display: inline-block;
        float: left;
        margin-top:1vw;
        margin-left: 2vw;
        border-radius: 1vw;
    }

    .drawing_palette{
        background-color:#ffffff;
        margin-left: 15px;
        border: 0;
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
    ::-webkit-color-swatch-wrapper{
        background-color:#ffffff;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
    ::-webkit-color-swatch{
        background-color:#ffffff;
        position: relative;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 15px;
        height: 100px;
        width: 100px;
    }
    .drawing_shezhi{
        position:fixed;
        height:80px;
        left:12vw;
        bottom:110px;
        width:800px;
        overflow-x: auto;
    }
    .drawing_shezhi_no1{
        position:fixed;
        height:40px;
        left:80vw;
        bottom:150px;
    }
    .drawing_shezhi_no2{
        width:2000px;
    }
    .drawing_btn{
        width:16vw;
        height: 6vw;
        display: inline-block;
        float: left;
        margin-left: 15px;
        font-size:3vw;
    }
    .drawing_btn button{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        background:
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left top,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right top,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left bottom,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right bottom,
        rgb(196, 195, 195);
        background-size:1.2vw 1.2vw;
        text-align: center;
        height: 100%;
        width: 100%;
        border: 0;
        line-height: 8vw;
    }  
    .palette_btn{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        border-radius: 1vw;
        height: 9vw;
        width: 9vw;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-350px;
    }
    .drawing_bottom{
        position:fixed;
        background-color:#fff;
        height:10vw;
        width:100%;
        bottom:0;
        left: 0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        float: left;
        width: 2.5vw;
        margin-left: 2vw;
        font-size:2vw;
        margin-top:1vw;
    }
    .drawing_free{
        float: left;
        width: 2.5vw;
        margin-left: 2vw;
        font-size:2vw;
        margin-top:1vw;
    }
    .drawing_tuijian:hover{
        font-size:2.5;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
    .drawing_free:hover{
        font-size:2.5;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
    .drawing_show{
        position:fixed;
        top:20%;
        left:5%;
        background-color:#fff;
        border:1px solid #000;
        width:90%;
        height:60%;
    }
    .drawing_x{
        float:right;
        font-size:5vw;
    }
    .drawing_Preservation{
        margin-left:35%;
        background-color:rgb(110,199,194);
        color:#000;
        border:0;
        padding:4px;
        border-radius:6px; 
        font-size:25px;
    }
}
@media (max-width: 1000px) and (min-width: 600px) {
    .drawing_canvas_div{
        width: 500px;
        height: 500px;
        margin-left:100px;
        background-color: white;
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        width: 80%;
        height: 100%;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 2000px;
    }
    .drawing_color_div{
        border-radius: 1vw;
        font-size:4vw;
        line-height: 11vw;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #FF7414;
    }
    .drawing_color{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        width: 11vw;
        height: 11vw;
        display: inline-block;
        float: left;
        margin-top:1vw;
        margin-left: 2vw;
        border-radius: 1vw;
    }


    .drawing_palette{
        background-color:#ffffff;
        margin-left: 15px;
        border: 0;
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 15px;
    }
    ::-webkit-color-swatch-wrapper{
        background-color:#ffffff;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        height: 100px;
        width: 100px;
    }
    ::-webkit-color-swatch{
        background-color:#ffffff;
        position: relative;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 15px;
        height: 100px;
        width: 100px;
    }
    .drawing_shezhi{
        position:fixed;
        height:80px;
        left:10vw;
        bottom:100px;
        width:600px;
        overflow-x: auto;
    }
    .drawing_shezhi_no1{
        position:fixed;
        height:40px;
        left:80vw;
        bottom:140px;
    }
    .drawing_shezhi_no2{
        width:1200px;
    }
    .drawing_btn{
        width:16vw;
        height: 8vw;
        display: inline-block;
        float: left;
        margin-left: 15px;
        font-size:3vw;
    }
    .drawing_btn button{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        background:
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left top,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right top,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat left bottom,
        linear-gradient(to left,rgb(245,245,249),rgb(245,245,249)) no-repeat right bottom,
        rgb(196, 195, 195);
        background-size:1.2vw 1.2vw;
        text-align: center;
        height: 100%;
        width: 100%;
        border: 0;
        line-height: 8vw;
    }  
    .palette_btn{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        border-radius: 1vw;
        height: 11vw;
        width: 11vw;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-350px;
    }
    .drawing_bottom{
        position:fixed;
        background-color:#fff;
        height:13vw;
        width:100%;
        bottom:0;
        left: 0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        float: left;
        width: 2vw;
        margin-left: 2vw;
        font-size:2.5vw;
        margin-top:1vw;
    }
    .drawing_free{
        float: left;
        width: 2vw;
        margin-left: 2vw;
        font-size:2.5vw;
        margin-top:1vw;
    }
    .drawing_tuijian:hover{
        font-size:2.5vw;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
    .drawing_free:hover{
        font-size:2.5vw;
        margin-top:1vw;
        color:rgb(110,199,194);
    }
    .drawing_show{
        position:fixed;
        top:20%;
        left:5%;
        background-color:#fff;
        border:1px solid #000;
        width:90%;
        height:60%;
    }
    .drawing_x{
        float:right;
        font-size:4vw;;
    }
    .drawing_Preservation{
        margin-left:35%;
        background-color:rgb(110,199,194);
        color:#000;
        border:0;
        width:20%;
        height:10%;
        border-radius:4px; 
    }
}
@media only screen and (max-width: 600px) {
    .drawing_canvas_div{
        width: 300px;
        height: 300px;
        margin: auto;
        background-color: white;
    }
    .drawing_canvas_div_canvas{
        width: 100%;
        height: 100%;
    }
    .drawing_right{
        width: 80%;
        height: 100%;
        overflow-x: auto;
    }
    .drawing_choose{
        width: 1500px;
    }
    .drawing_color_div{
        border-radius: 1vw;
        font-size:7vw;
        line-height: 14vw;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #FF7414;
    }
    .drawing_color{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        width: 15vw;
        height: 15vw;
        display: inline-block;
        float: left;
        margin-top:3vw;
        margin-left: 3vw;
        border-radius: 1vw;
    }
    .drawing_shezhi_no1{
        position:fixed;
        right:2vw;
        bottom:40vw;
    }
    .drawing_btn_no1{
        text-align: center;
        height: 100%;
        width: 100%;
        border: 0;
        line-height: 8vw;
    }
    .palette_btn{
        box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
        border-radius: 1vw;
        height: 15vw;
        width: 15vw;
        float:left;
    }
    .pelette_color{
        position:absolute;
        top:-300px;
    }
    .drawing_bottom{
        position:fixed;
        background-color:rgba(240, 240, 240,240);
        height:20vw;
        width:100%;
        bottom:0;
        left: 0;
    }
    .drawing_left{
        float:left;
    }
    .drawing_tuijian{
        margin-left: 3.5vw;
        float: left;
        width: 3.5vw;
        font-size:3.5vw;
        margin-top:1vw;
    }
    .drawing_free{
        float: left;
        width: 3.5vw;
        margin-left: 3.5vw;
        font-size:3.5vw;
        margin-top:1vw;
    }
    .drawing_tuijian:hover{
        color:rgb(110,199,194);
    }
    .drawing_free:hover{
        color:rgb(110,199,194);
    }
    .drawing_show{
        position:fixed;
        top:20%;
        left:5%;
        background-color:#fff;
        border:1px solid rgb(128, 125, 125);
        border-radius:2vw;
        width:90%;
        height:50%;
    }
    .drawing_x{
        float:right;
        margin-right:2vw;
        margin-top:2vw;
        font-size:5vw;
        color:red;
    }
    .drawing_Preservation{
        margin-left:32%;
        background-color:rgb(110,199,194);
        color:#fff;
        border:0;
        padding:2vw;
        border-radius:2vw; 
    }

    #touch {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 60px;
        z-index: 99999;
    }
	.bt-box .bg-3{
        background:#a851fa;
    }
	.bt-box .xiaoA{
		display:block;
		width:60px;
		height:60px;
		position: absolute;
		z-index: 2;
		color: white;
		font: 17px/60px Helvetica, Verdana, sans-serif;
		text-decoration: none;
        text-align: center;
    }
    .bt-box-p{
        float: left;
        margin-top:10px;
    }
	.bt-box .xiaoA, .bt-box-p {
        border-radius: 10px;
    }
    .bt-box .bt-box-p{
        background: #222 ;
        display: block;
        height: 40px;
        width: 50px; 
        margin: 0 0 0 10px;
        text-align: center;
        font: 12px/40px Helvetica, Verdana, sans-serif;
        color:#fff;
        position: absolute;
        z-index: 1;
        transition: margin 0.5s ease;
    }
    .bottom123 {
        margin: 70px 0 0 5px;
    }
    .drawing_bottom_no1{
        position:fixed;
        bottom:5vw;
        left:40%;
        padding:3vw;
        border-radius: 2vw;
        background-color: rgb(211, 236, 235);
        font-size:3vw;
    }
    .drawing_canvas_div1{
        width: 100%;
        height: 167vw;
        margin: auto;
        margin-top:10vw;
        background-color: white;
    }
    .torelease{
        position: absolute;
        top:45vw;
        left:15vw;
        z-index: 200;
        width: 70vw;
        height: 45vw;
        float: left;
        border-radius:10px;
        background-color: white;
    }
    .torelease_text_type{
        margin-top: 5vw;
        height: 7vw;
    }
    .torelease_text_type p{
        line-height: 7vw;
        margin-left: 3vw;
        float: left;
    }
    .torelease_text_type input{
        margin-left: 3vw;
        margin-top:1.5vw;
    }
    .torelease_text p{
        line-height: 7vw;
        margin-left: 3vw;
    }
    .torelease_text input{
        margin-top: 1vw;
        margin-left: 4vw;
        width: 60vw;
        border: 1px solid rgb(230, 230, 230);
        margin-bottom: 2vw;
    }
    .torelease_false_but_no1{
        margin-left: 9vw;
        margin-right: 9vw;
        margin-top: 8vw;
        font-size: 3vw;
        width: 16vw;
        height: 6vw;
        background-color: rgb(110,199,194);
        font-family: "YouYuan"; 
        float: left;
        border: 0px;
        color: #fff;
        border-radius: 4vw;
    }
    .torelease_false_but_no2{
        margin-left: 9vw;
        margin-right: 9vw;
        margin-top: 8vw;
        font-size: 3vw;
        width: 16vw;
        height: 6vw;
        background-color: rgb(182, 182, 182);
        font-family: "YouYuan"; 
        float: left;
        border: 0px;
        color: #fff;
        border-radius: 4vw;
    }
    /* .torelease_text{
        width: 100%;
        height: 100px;
        margin: auto;
        margin-top:20vw;
        background-color: rgb(110,199,194);
    }
    .torelease_text input{
        width: 99%;
        height: 100px;
        border:1px solid #000;
        border-radius: 4vw;
        background-color: rgb(110,199,194);
    }
    .torelease_text_miaoshu{
        font-size:5vw;
        color:#000;
    } */
}

.palette_choose{
    width: 1500px;
}
.palette_color_div{
    border-radius: 1vw;
    font-size:7vw;
    line-height: 14vw;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FF7414;
}
.palette_color{
    box-shadow: 0px 1vw 1vw -1vw #5E5E5E;
    width: 15vw;
    height: 15vw;
    display: inline-block;
    float: left;
    /* margin-top:3vw; */
    margin-left: 3vw;
    border-radius: 1vw;
}